<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Lego Collection</title>
  <link rel="stylesheet" href="/css/main.css" />

</head>

<body tabindex="-1">
    <%- include('partials/navbar', {page: '/about'}) %>

  <div class="container mx-auto">
      <div class="hero bg-base-200 rounded-lg p-6">
          <div class="hero-content text-center ">
              <div class="max-w-md">
                  <h1 class="text-5xl font-bold">About</h1>

                 <p class="py-6">Discover our vibrant corner of creativity and wonder – the Lego Collection! Immerse yourself in a world where imagination knows no bounds, and each brick holds the potential for endless adventure. Join us in celebrating the magic of LEGO, where building sets go beyond mere toys; they serve as gateways to realms of fantasy and innovation. Welcome to a place where creativity thrives and imagination takes flight.</p>
              </div>
          </div>
      </div>
  </div>

  <br>

      <div class="grid grid-cols-1 sm:grid-cols-2 gap-8 mt-8">
          <div class="p-4">
              <img src="/image.jfif" alt = "my image " class="w-full rounded-lg shadow-md">
          </div>

          <div class="p-4">
              <h2 class="text-xl font-bold mb-4">About me</h2>
              <p class="text-gray-600">Welcome to my corner of the internet! I'm Divya Patel, currently immersed in my studies in the Computer Programming (CPP) course. Beyond the realm of coding, I find joy in various activities like playing football and indulging in the soothing tunes of music. Join me on this journey as I navigate through the world of technology and explore my passions along the way. Let's connect and share our experiences!




              </p>
              <br>
              
          </div>
      </div>
  </div>
</body>

</html>